		<form action="/superAdmin/addClinic" method="POST">
        			<select name="pachayath">
					   <option name="" value="">Select Panchayaths</option>
						{{#each punchayathRespo}}
						<option name="{{this.panchayath}}" value="{{this.panchayath}}">{{this.panchayath}}</option>
						{{/each}}

					</select> <br>     			
                        <input type="text" name="clinicName" placeholder="clinicName"><br>
                        <input type="text" name="place"  placeholder="place"><br>
                        <input type="text" name="contacts"  placeholder="contacts"><br>
                        <input type="text" name="emails"  placeholder="emails"><br>
                        <input type="text" name="latitude"  placeholder="latitude"><br>
                        <input type="text" name="longitude"  placeholder="longitude"><br>
                        <input type="text" name="paymentMode"  placeholder="paymentMode"><br>	<br>			
		<input type="submit" value="ADD">&nbsp;&nbsp;&nbsp; <a href="/superAdmin" type="button">Close</button><br>	<br>
        </form>
		<table>
			{{#each clinicRespo}}
			<tr>
				<td>{{this.myClinicId}}</td>
				 <td>{{this.clinicName}}</td>
				 <td><a onclick="return confirm('Are you sure, you want to delete it?')" href="/superAdmin/deleteClinic/{{this._id}}">delete</a></td>
				<td><a href="/superAdmin/editClinic/{{this._id}}">EDIT</a></td>
			</tr>
			{{/each}}
		</table>
