		<form action="/superAdmin/addPanchayaths" method="POST">  

        			<select name="muncipality" id="muncValue" onchange="random_function()">
                        <option name="" value="">Select Thaluk</option>
						{{#each munc}}
						<option name="{{this.muncipality}}" value="{{this.muncipality}}">{{this.muncipality}}</option>
						{{/each}}
					</select>  


				   <select name="panchayath" id="output" onchange="random_function1()">
					   <option name="" value="">Select Panchayaths</option>
					</select>
			
		  <input type="submit" value="ADD">&nbsp;&nbsp;&nbsp;
          <a href="/superAdmin" type="button">Close</button>
        </form>
		<table>
			{{#each panchayath}}
			<tr>
				<td>{{this.myPanchayathId}}</td> <td>{{this.panchayath}}</td>  <td><a onclick="return confirm('Are you sure, you want to delete it?')" href="/superAdmin/deletePanchayath/{{this._id}}">delete</a></td>
			</tr>
			{{/each}}
		</table>


<script>	

function random_function()

            {
                 var muncipality = document.getElementById("muncValue").value;          
                if(muncipality=="Cherthala")
                {
                    var arr=['Chennam-Pallippuram', 'Thycattussery', 'Arookutty', 'Aroor', 'Ezhupunna', 'Kodamthuruth', 'Kuthiathode', 'Panavally', 'Perumbalam', 'Thaikattussery', 'Cherthala', 'Areepparambu', 'Arthunkal']
                }

				else if(muncipality=="Kuttanad")
                {
                    var arr=['Champakkulam', 'Edathua', 'Kainakary North', 'Kainakary South', 'Kavalam', 'Kunnumma', 'Muttar', 'Nedumudi', 'Neelamperoor', 'Pulinkunnu', 'Ramankary', 'Thakazhy', 'Thalavady', 'Veliyanad']
                }

				else if(muncipality=="Karthikapally")
                {
                    var arr=['Arattupuzha', 'Cheppad (CT)', 'Cheruthana', 'Chingoli (CT)', 'Haripad (CT)', 'Kandalloor (CT)', 'Karthikappally (CT)', 'Karuvatta', 'Kayamkulam (M)', 'Keerikkad (CT)', 'Krishnapuram (CT)', 'Kumarapuram (CT)', 'Muthukulam (CT)', 'Pallippad', 'Pathiyoor (CT)', 'Puthuppally (CT)', 'Thrikkunnapuzha', 'Veeyapuram']
                }
				else if(muncipality=="Chengannur")
                {
                    var arr=['Ala (Part)', 'Chengannur (Part)', 'Chengannur (M)', 'Cheriyanad', 'Ennakkad', 'Kurattissery (CT)', 'Mannar (CT)', 'Mulakuzha (Part)', 'Pandanad (Part)', 'Puliyoor(Part)', '	Thiruvanvandoor', 'Venmony']
                }
				else if(muncipality=="Mavelikkara")
                {
                    var arr=['Bharanikkavu (CT)', 'Chennithala (CT)', 'Chunakkara', 'Kannamangalam (CT)', 'Kattanam (CT)', 'Mavelikkara (M)', 'Noornad', 'Palamel', 'Perungala', 'Thamarakkulam', 'Thazhakara (CT)', 'Thekkekara (Part)', 'Thriperumthura', 'Vallikunnam', 'Vettiyar']
                }
				else if(muncipality=="Pattambi")
                {
                    var arr=['Koppam', 'Kulukkallur', 'Muthuthala', 'Ongallur', 'Pattambi', 'Thiruvegapura', 'Vallapuzha', 'Vilayur']
                }

				else if(muncipality=="Aluva")
                {
                    var arr=['Aluva (M)', 'Angamaly (M)', 'Ayyampuzha', 'Chengamanad (CT)', 'Choornikkara (CT)', 'Chowwara (CT)',  'Edathala (CT)', 'Kalady (CT)', 'Karukutty', 'Kizhakkumbhagom (CT)', 'Malayattoor', 'Manjapra', 'Mattoor (CT)', 'Mookkannoor', 'Nedumbassery (CT)', 'Parakkadavu', 'Thekkumbhagom (CT)', 'Thuravoor', 'Vadakkumbhagom (CT)']
                }				

				else if(muncipality=="Kunnathunadu")
                {
                    var arr=['']
                }

				else if(muncipality=="Kochi")
                {
                    var arr=['']
                }

				else if(muncipality=="Kanayannur")
                {
                    var arr=['']
                }

				else if(muncipality=="Kothamangalam")
                {
                    var arr=['']
                }
				else if(muncipality=="Muvattupuzha")
                {
                    var arr=['']
                }
				else if(muncipality=="Paravoor")
                {
                    var arr=['']
                }			

                var string="";
             
                for(i=0;i<arr.length;i++)
                {
                    string=string+"<option value="+arr[i]+">"+arr[i]+"</option>";
                }
                document.getElementById("output").innerHTML=string;
            }
</script>

                {{!-- else if(district=="Idukki")
                {
                    var arr=['Devikulam', 'Udumbanchola', 'Thodupuzha', 'Peerumade', 'Idukki']
                }

                else if(district=="Kannur")
                {
                    var arr=['Thaliparambu', 'Kannur', 'Thalassery', 'Iritty', 'Payyannur']
                }

                else if(district=="Kasaragod")
                {
                    var arr=['Kasargod', 'Hosdurg', 'Vellarikkund', 'Manjeshwaram']
                }

                else if(district=="Kottayam")
                {
                    var arr=['Kottayam', 'Meenachil', 'Changanassery', 'Vaikom', 'Kanjirappally']
                }

                else if(district=="Kozhikode")
                {
                    var arr=['Kozhokkode', 'Koyilandi', 'Vadakara', 'Thamarassery']
                }

                else if(district=="Malappuram")
                {
                    var arr=['Eranad', 'Nilambur', 'Perinthalmanna', 'Tirur', 'Tirurangadi', 'Ponnani', 'Kondotty']
                }

                else if(district=="Palakkad")
                {
                    var arr=['alathur', 'Chittoor', 'Mannarkkad', 'Ottapalam', 'Palakkad', 'Pattambi']
                }

                else if(district=="Thiruvananthapuram")
                {
                    var arr=['Thiruvananthapuram', 'Nedumangadu', 'Chirayinkeezhu', 'Kattakada', 'Neyyattinkara', 'Varkala']
                }

                else if(district=="Thrissur")
                {
                    var arr=['Chavakkad', 'Kodungallur', 'Mugundapuram', 'Thalappally', 'Thrissur', 'Chalakkudy', 'Kunnamkulam']
                } 


                else if(district=="Wayanad")
                {
                    var arr=['Vythiri', 'Mananthavadi', 'Sulthan Bathery']
                }  --}}
