<style>
    body{
        background-image: none;
    }
</style>
<h2>{{this.cName}}</h2>

<table width="100%" border="1">
    <tr>
        <td width="20%" valign="top">
            <h3>SETTINGS</h3>
            <a href="/clinicDashBoard/doctorsManagement/{{clinicAdminLogin.data.clinicName}}">Doctors Management</a><br>
            <a href="/clinicDashBoard/medicineProvider/{{clinicAdminLogin.data.clinicName}}">Medicine Provider Management</a><br>
            <a href="/clinicDashBoard/medicineManagement/{{clinicAdminLogin.data.clinicName}}">Medicine Management</a><br>
            <a href="">Todays Booking</a><br>
            <a href="/clinicDashBoard/prescribedPrescription/">Prescription Management</a><br>
            <a href="">User Management</a><br>
        </td>


        <td  width="80%" valign="top">
            <table width="100%">
                <tr>
                    <td>Total Booking <br>128 <hr></td>
                    <td>Total Booking Amount <br>15678 <hr></td>
                    <td>Total Medicine Amount <br>456789 <hr></td>
                    <td>Payment 4 Doctors <br>789050 <hr></td>
                    <td>Total Users <br>25500 <hr></td>
                </tr>
            </table>
<br><br>
            <table width="100%">
                <tr>
                    <th align="left">DoctorName</th>
                    <th align="left">Department</th>
                    <th align="left">Patient</th>
                    <th align="left">Contact</th>
                    <th align="left">Amount</th>
                    <th align="left">action</th>
                    
                </tr>
               {{#each result}}
                <tr>
                    {{#if ../myPostponed}}
                    <td><span style="background-color: red; color:white; padding:2px">{{this.drName}}</span></td>
                    {{else}}
                    <td>{{this.drName}}</td>
                    {{/if}}
                    <td>{{this.drDept}}</td>
                    <td>{{this.patient}}</td>
                    <td>{{this.whatsapp}}</td>
                    <td>{{this.total}}</td>
                    <td><a href="/clinicDashBoard/individualPrescription/{{this._id}}">VIEW</a>&nbsp;&nbsp;&nbsp;<a onclick="return confirm('Are you sure, you want to delete it?')" href="/clinicDashBoard/deleteClinicDoctors/{{this._id}}">DELETE</a></td>
                </tr>
                {{/each}}
            </table>
        </td>
    </tr>
</table>
